.myFlexForCourse{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr ;
}
.packUpTogether{
    display: grid;
    /*grid-template-rows: 1fr 1fr;*/
    grid-template-columns: 1fr;
    grid-gap: 0.1em;
    grid-column-gap: 0.1em;
}